{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="container mx-auto px-4 py-8">
    <div class="max-w-3xl mx-auto">
        <h1 class="text-3xl font-bold text-center mb-8 text-gray-800">Contact Us</h1>

        <div class="bg-white rounded-lg shadow-md p-8">
            <h2 class="text-2xl font-semibold mb-4 text-gray-800">Welcome to Our Home Rental Service</h2>

            <p class="text-gray-700 mb-6">At Our Home Rental Service, we're dedicated to providing you with exceptional rental experiences. Whether you're searching for your dream home or looking to rent out our property, we're here to make the process smooth and stress-free.</p>

            <h3 class="text-xl font-semibold mb-4 text-gray-800">Contact Information</h3>

            <div class="flex flex-col md:flex-row justify-between mb-6">
                <div class="mb-4 md:mb-0">
                    <p class="text-gray-700 mb-2"><strong>Phone:</strong></p>
                    <p class="text-gray-600">For immediate assistance, call us at <a href="tel:+11234567890" class="text-blue-500 hover:underline">021 523740</a> during our office hours.</p>
                </div>

                <div class="mb-4 md:mb-0">
                    <p class="text-gray-700 mb-2"><strong>Email:</strong></p>
                    <p class="text-gray-600">Reach out to us via email at <a href="mailto:info@ourhomerentalservice.com" class="text-blue-500 hover:underline">info@ourhomerentalservice.com</a>.<br> We strive to respond to all inquiries within 24 hours.</p>
                </div>

                <div>
                    <p class="text-gray-700 mb-2"><strong>Address:</strong></p>
                    <p class="text-gray-600">Visit us in person at:</p>
                    <p class="text-gray-600">Our Home Rental Service<br>Roadcess<br>Biratnagar,Koshi Pardeshi,56613</p>
                </div>
            </div>

            <h3 class="text-xl font-semibold mb-4 text-gray-800">Office Hours</h3>

            <p class="text-gray-600 mb-6">Sunday - Thrusady: 9:00 AM - 6:00 PM<br>Friday: 10:00 AM - 4:00 PM<br>Saturday: Closed</p>

            <h3 class="text-xl font-semibold mb-4 text-gray-800">Connect With Us</h3>

            <div class="flex space-x-4 mb-6">
                <a href="#" class="text-blue-500 hover:underline">Facebook</a>
                <a href="#" class="text-blue-500 hover:underline">Twitter</a>
                <a href="#" class="text-blue-500 hover:underline">Instagram</a>
                <a href="#" class="text-blue-500 hover:underline">LinkedIn</a>
            </div>
        </div>
    </div>
</div>
{%endblock content%}