{%load static%}
<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rental System</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    </head>

    <body class="bg-gray-100 flex   flex-col " style = "height : 100vh">
        <!-- Navbar -->
        <nav class="bg-gray-800 text-white p-4">
            <div class="container mx-auto flex justify-between items-center">
                <a  href = "/" class=" cursor-pointer text-2xl font-bold border p-6 rounded-xl border-gray-300"><img src="{%static 'logo.png'%}" alt="" style = "width: 100px;"></a>
                <div class="hidden md:block">
                    <a href="/" class="px-4">Home</a>
                    <a href="/aboutus/" class="px-4">Contact Us</a>

                    {%if request.user.is_authenticated%}
                    <a href="{%url 'property_create'%}" class="px-4">Add Property</a>
                    <a href="/messages/" class="px-4">Views messages</a>
                    {%if not request.user.is_superuser%}
                    <a href="/propertyList/" class="px-4">Manage Property</a>
                    <a href="/orderlist/" class="px-4">OrderList</a>
                    {%endif%}
                    <a href="/update-profile/" class="px-4">Update Profiles</a>
                    {%if request.user.is_superuser%}
                    <a href="/dashboardListing/" class="px-4">dashboard</a>
        
                    {%endif%}
                    
                    

                    <a href="/logout/" class="px-4">logout</a>
                    
                    {%else%}
                    
                    <a href="/login/" class="px-4">login</a>
                    <a href="/register/" class="px-4">register</a>
                    {%endif%}
                </div>
                <div class="md:hidden">
                    <!-- Mobile menu button -->
                    <button id="mobile-menu-button"
                        class="focus:outline-none flex items-center px-3 py-2 border rounded text-white border-white hover:text-gray-200 hover:border-white">
                        <svg class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 6a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 6a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
            </div>
        </nav>

        <!-- Mobile menu -->
        <div id="mobile-menu"
            class="md:hidden bg-gray-800 text-white py-2 px-4 mt-2 rounded-lg shadow-lg text-center hidden">
            <a href="#" class="block py-2">Home</a>
            <a href="#" class="block py-2">About</a>
            {%if request.user.is_authenticated%}
            <a href="{%url 'property_create'%}" class="px-4">Add Property</a>
            <a href="/messages/" class="px-4">Views messages</a>
            {%if not request.user.is_superuser%}
            <a href="/propertyList/" class="px-4">Manage Property</a>
            <a href="/orderlist/" class="px-4">OrderList</a>
            {%endif%}
            <a href="/update-profile/" class="px-4">Update Profiles</a>
            {%if request.user.is_superuser%}
            <a href="/dashboardListing/" class="px-4">dashboard</a>

            {%endif%}
            

            <a href="/logout/" class="px-4">logout</a>
            
            {%else%}
            
            <a href="/login/" class="px-4">login</a>
            <a href="/register/" class="px-4">register</a>
            {%endif%}   
        </div>

        {%block content%}
        {%endblock content%}        
        <footer class="bg-gray-800 text-white py-8 mt-auto">
            <div class="container mx-auto text-center">
                <p>&copy; 2024 Home Rental System. All rights reserved.</p>
            </div>
        </footer>   

        <script>
            // Mobile menu toggle
            document.getElementById('mobile-menu-button').addEventListener('click', function () {
                var mobileMenu = document.getElementById('mobile-menu');
                if (mobileMenu.classList.contains('hidden')) {
                    mobileMenu.classList.remove('hidden');
                } else {
                    mobileMenu.classList.add('hidden');
                }
            });
        </script>
    </body>

    </html>
