{%extends 'base.html'%}
{%block content%}
    <div class=" my-5 flex justify-center items-center h-screen">
        <div class="bg-white rounded-lg px-10 py-10 max-w-md w-full shadow-md">
            <h2 class="text-3xl font-bold mb-4 text-blue-600 text-center">Register</h2>
            <div class="text-center mb-8">
                <img src="https://via.placeholder.com/120" alt="Logo" class="mx-auto mb-4 rounded-full border-4 border-white">
            </div>
            {% if messages %}
            <div id="messages-container" class="p-4 text-center">
              {% for msg in messages %}
                <div class="bg-red-500 text-white p-2 rounded-md mb-4">
                  <span>{{ msg.message }}</span>
                  <button onclick="closeMessage(this)" class="ml-2 text-white">x</button>
                </div>
              {% endfor %}
            </div>
          
            <script>
              function closeMessage(button) {
                var messageContainer = button.parentElement;
                messageContainer.style.display = 'none';
              }
          
              // Automatically hide messages after 3 seconds
              setTimeout(function () {
                var messagesContainer = document.getElementById('messages-container');
                if (messagesContainer) {
                  messagesContainer.style.display = 'none';
                }
              }, 5000);
            </script>
          {% endif %}
            <form method = "post" novalidate>
                {%csrf_token%}
                <div class="mb-4">
                    <label for="email" class="block text-sm font-medium text-gray-700">Usernames</label>
                    <input type="email" id="email" name="username"
                        class="w-full px-3 py-2 rounded-lg bg-gray-100 focus:outline-none focus:ring focus:border-blue-300">
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                    <input type="email" id="email" name="email"
                        class="w-full px-3 py-2 rounded-lg bg-gray-100 focus:outline-none focus:ring focus:border-blue-300">
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-sm font-medium text-gray-700">First Name</label>
                    <input type="email" id="email" name="fname"
                        class="w-full px-3 py-2 rounded-lg bg-gray-100 focus:outline-none focus:ring focus:border-blue-300">
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-sm font-medium text-gray-700">Last Names</label>
                    <input type="email" id="email" name="lname"
                        class="w-full px-3 py-2 rounded-lg bg-gray-100 focus:outline-none focus:ring focus:border-blue-300">
                </div>
                <div class="mb-6">
                    <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                    <input type="password" id="password" name="password"
                        class="w-full px-3 py-2 rounded-lg bg-gray-100 focus:outline-none focus:ring focus:border-blue-300">
                </div>
                <div class="mb-6">
                    <label for="password" class="block text-sm font-medium text-gray-700">Confirm Password</label>
                    <input type="password" id="password" name="cpassword"
                        class="w-full px-3 py-2 rounded-lg bg-gray-100 focus:outline-none focus:ring focus:border-blue-300">
                </div>
                <button type="submit"
                    class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition duration-300">Login</button>
            </form>
        </div>
    </div>

    <script>
        // Mobile menu toggle
        document.getElementById('mobile-menu-button').addEventListener('click', function () {
            var mobileMenu = document.getElementById('mobile-menu');
            if (mobileMenu.classList.contains('hidden')) {
                mobileMenu.classList.remove('hidden');
            } else {
                mobileMenu.classList.add('hidden');
            }
        });
    </script>

{%endblock content%}